.botonTabla {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.botonTabla:first-letter {
  text-transform: uppercase;
}

.botonTabla__icono{
  width: 22px;
  height: 22px;
}

.botonTabla__icono--rojo{
  color: #ff0000;
}

.botonTabla__icono--negro{
  color: #000000;
}

.botonTabla__icono--verde{
  color: #10b510;
}