.estado {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.estado--bloqueado {
    background-color: #6a6969e8;
    color: #fff;
}

.estado--activo {
    background-color: #48e16d;
    color: #000000;
}

.estado--entregado {
    background-color: #48e16d;
}

.estado--cancelado {
    background-color: #f32051de;
    color: #fff;
}

.estado--pendiente {
    background-color: #fffd35bf;
}

.estado--pago {
    background-color: #ffb700ad;
    color: #000;
}