.buscador {
  position: relative;
}

.buscador input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 15px;
}

.buscador input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 50px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.buscador svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.buscador input:focus {
  opacity: 1;
  width: 220px;
}
