.campoVerificado {
  position: relative;
}

.campoVerificado__texto {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.campoVerificado__password{
  margin-left: -30px;
	cursor: pointer;
}

.campoVerificado__texto--verde {
  color: rgb(0, 255, 0);
}

.campoVerificado__texto--rojo {
  color: rgb(255, 0, 0);
}

.campoVerificado__texto--vacio{
  color: rgb(71, 71, 71);
}
.campoVerificado__campo {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 90%;
  background-color: transparent;
}